.sidebar {
    position: fixed;
    background-color: white;
    top: 50px;
    left: 0px;
    width: 76px;
    bottom: 0px;
    font-family: roboto;
    font-size: 12px;
    text-align: center;
    z-index: 200;
}
.sidebar-link{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}


.sidebar-link:hover{
    background-color:rgb(223, 220, 220);
}

.sidebar-link img{
    height: 25px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-size: 12px;
    font-weight: 400;

}